/* styles.css */

body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
}

.kanban-board {
/*  background-color: #fff;*/
  border-radius: 10px;
  box-shadow: 0 0 100px rgba(0, 0, 0, .4);
  padding: 20px;
/*  text-align: left;*/
  
  margin: 10px;
}
.filter-and-group {
  display: flex;
  padding: 20px;
  flex-direction: row;
  gap: 40px; /* Adjust the gap between labels as needed */
}
.filter-and-group label {
  margin-bottom: 1px;
  gap:50px; /* Adjust the margin below each label as needed */
}

.options-container {
  padding: 25px;
/*  margin-bottom: 20px;*/
  background-color: white;
/*  box-shadow: 0 0 100px rgba(0, 0, 0, .4);*/
  border-radius: 20px;

}



.options-container button {
  background-color: purple;
  color: #fff;
  gap: 50px;
  display: flex;
  padding: 10px 15px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.options-container button:hover {
  background-color: grey;
}

/* Add styles for section rows */
.section-rows {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  padding: 20px;
}

.plus-button {

/*  border: none;*/
  padding: 4px 7px;
  margin-left: 100px; 
  cursor: pointer;
/*  align-items: end;*/
/*text-align: left;*/

  border-radius: 20px;
  top: 10px;
  right: 10px;
/*  display: flex;*/
  align-items: center;
}

/* Add styles for each ticket */
.ticket {
  border: 1px solid #ddd;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 10px;
  width: 300px; /* Set the fixed width for each ticket */
  height: 200px;
  background-color: #fff;
  border-radius: 8px;
  padding: 16px;
  box-sizing: border-box;
  position: relative;
}


.ticket-header {
  display: flex;
  align-items: center;
}

.circle-icon {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}



.value {
/*  margin-right: 190px;*/
padding-right: 180px;
  color: grey;
  position: revert-layer;

}

.title-value {
font-family: cursive;

}

.tag-value {
  /* Add your styles for the tag */
  padding-right: 10px;
  color: grey;
}

.circle-icon {
  color: grey;
}
.ticket-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
}

.section-row {
  flex: 1;
  margin: 10px;
}


.status, .priority {
  font-weight: bold;
  margin-bottom: 5px; /* Adjust as needed */
}

/* Add styles for icons */
.urgent-icon {
  color: red;
  font-size: 1.5rem; /* Adjust as needed */
}

.button-container {
  display: flex;
  justify-content: space-between;
}

.edit-form button, .create-ticket button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 35px;
  border-radius: 25px;
  cursor: pointer;
  margin-top: 10px; /* Adjust as needed */
}


.create-ticket input,
.create-ticket textarea,
.create-ticket select {
/*  width: 10%;*/
  padding: 10px;
  margin-bottom: 10px;
/*  box-sizing: border-box;*/
}


.create-ticket button:hover {
  background-color: #45a049;
}

button {
  padding: 5px 10px;
  border: 1px solid #ccc;
  background-color: transparent;
  cursor: pointer;
  margin-right: 15px;
  margin-left: 5px;
}

button:hover {
  background-color: #f0f0f0;

}
